*{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

/*
    TODO: Need to find a way to make Home and Contact Links to be on the right of the page.
*/
nav{
 display: flex;
 background-color: slategrey;
 width: 100%;
 height: 3.75rem;
}

nav ul li {
    font-size: 1.25rem;
    flex-direction: row;
    display: inline-block;
    margin-top: 1.40rem;
    margin-left: .25rem;
    margin-right: 1.25rem;
    margin-bottom: 21.6px;
    
}

nav ul li a {
    text-decoration: none;
}

/*  
TODO: need to ensure that background and text color don't blend in and can mix and match.
*/ 
body{
    background-color: blanchedalmond;
}